@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow-box {
  background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 6%, 21%));
  padding: 2rem 0.5rem;
  text-align: left;
  color: hsl(300, 50%, 95%);
}
.table-text {
  @apply text-white text-xs lg:text-base;
}
.pool-card {
  background: conic-gradient(
    from 225deg at 49% 0%,
    rgba(202, 138, 4, 1) 0%,
    rgba(30, 64, 175, 1) 50%,
    rgba(30, 64, 175, 1) 100%
  );
  @apply shadow-lg shadow-blue-600 flex-grow flex-col w-full md:w-1/2 lg:w-1/3 xl:w-1/4 text-center rounded-lg h-full border-4  border-yellow-700 hover:scale-125;
}

/* Rainbow Boxes */
.outside-box {
  @apply rounded-2xl bg-gradient-to-r from-cyan-500 via-red-500 to-amber-500 p-1 shadow-xl;
}
.inside-box {
  @apply rounded-xl bg-slate-800 -z-10 p-2 sm:p-4 lg:p-6;
}
.input-bg{
  @apply bg-white rounded-full text-slate-600 text-center  tracking-wide md:w-[18rem] lg:w-[11rem] xl:w-[8rem] 2xl:w-[12.5rem] md:h-[2rem];
}
/* For Interest and FFR Boxes on Invest page */
.asset-data-box{
  @apply flex flex-col text-center text-white
}
/* GLobal Trade Component */
.global-trades{
  @apply   text-center flex bg-slate-800 rounded-2xl shadow-xl shadow-amber-400 text-white flex-col pb-12  lg:mx-24 my-12
}
.global-trades-table{
  @apply items-stretch lg:place-items-center text-white  text-[0.6rem] md:text-sm xl:text-base 2xl:text-lg   md:mr-0  
}

.global-trades-table p{
  @apply text-xl text-white 
}

/* Staking and Investor Stats components for pools */
.asset-info-box{
  @apply flex flex-col gap-y-4 gap-x-12
}
.asset-info-box div{
  @apply flex flex-row gap-x-24 text-lg text-center justify-between text-white
}

h1{
  @apply text-3xl
}
.modal-background{

  /* ff 3.6+ */
  background:-moz-linear-gradient(10deg, rgba(0, 221, 255, 1) 23%, rgba(95, 45, 173, 1) 91%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(10deg, rgba(0, 221, 255, 1) 23%, rgba(95, 45, 173, 1) 91%);

  /* opera 11.10+ */
  background:-o-linear-gradient(10deg, rgba(0, 221, 255, 1) 23%, rgba(95, 45, 173, 1) 91%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00DDFF', endColorstr='#5F2DAD', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(10deg, rgba(0, 221, 255, 1) 23%, rgba(95, 45, 173, 1) 91%);

  /* global 94%+ browsers support */
  background:linear-gradient(10deg, rgba(0, 221, 255, 1) 23%, rgba(95, 45, 173, 1) 91%);

}
.background-style {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04021C', endColorstr='#0C024E', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );
}
.Cell {
  animation: pulse 1s infinite;
}
.glow-blue-100 {
  /* For each color (blue-100 here), for the `default` style */
  box-shadow: 0 1px 3px 0 rgba(235, 248, 255, 0.4), 0 1px 2px 0 rgba(235, 248, 255, 0.24);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.dashboard{

  /* ff 3.6+ */
  background:-moz-linear-gradient(28deg, rgba(1, 6, 36, 1) 0%, rgba(1, 1, 13, 1) 32%, rgba(7, 16, 255, 1) 95%, rgba(1, 2, 96, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(28deg, rgba(1, 6, 36, 1) 0%, rgba(1, 1, 13, 1) 32%, rgba(7, 16, 255, 1) 95%, rgba(1, 2, 96, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(28deg, rgba(1, 6, 36, 1) 0%, rgba(1, 1, 13, 1) 32%, rgba(7, 16, 255, 1) 95%, rgba(1, 2, 96, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010624', endColorstr='#010260', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(28deg, rgba(1, 6, 36, 1) 0%, rgba(1, 1, 13, 1) 32%, rgba(7, 16, 255, 1) 95%, rgba(1, 2, 96, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(28deg, rgba(1, 6, 36, 1) 0%, rgba(1, 1, 13, 1) 32%, rgba(7, 16, 255, 1) 95%, rgba(1, 2, 96, 1) 100%);

}
@keyframes flashRed {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
}

.tooltip {
  border-radius: 0.25rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.logo-1 {
  color: blue;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}