@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-box {
  background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 6%, 21%));
  padding: 2rem 0.5rem;
  text-align: left;
  color: hsl(300, 50%, 95%);
}
.table-text {
  @apply text-white text-xs lg:text-base;
}
.pool-card {
  background: conic-gradient(
    from 225deg at 49% 0%,
    rgba(202, 138, 4, 1) 0%,
    rgba(30, 64, 175, 1) 50%,
    rgba(30, 64, 175, 1) 100%
  );
  @apply shadow-lg shadow-blue-600 flex-grow flex-col w-full md:w-1/2 lg:w-1/3 xl:w-1/4 text-center rounded-lg h-full border-4  border-yellow-700 hover:scale-125;
}
.outside-box {
  @apply rounded-2xl bg-gradient-to-r from-cyan-500 via-red-500 to-amber-500 p-1 shadow-xl;
}
.inside-box {
  @apply rounded-xl bg-slate-800 -z-10 p-2 sm:p-4 lg:p-6;
}
.background-style {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04021C', endColorstr='#0C024E', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    0deg,
    rgba(4, 2, 28, 1) 0%,
    rgba(24, 3, 58, 1) 46%,
    rgba(12, 2, 78, 1) 100%
  );
}
